In [32]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('Titanic-Dataset.csv')
df = pd.DataFrame(data)
df

In [ ]:
# Define the new order of columns
new_order = ['PassengerId', 'Name', 'Sex', 'Age', 'Survived', 'Pclass', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

# Rearrange the columns
df = df[new_order]

# Save the rearranged DataFrame to a new CSV file 
df.to_csv('train.csv', index=False)

df

In [ ]:
df[(df.Age>0.0)&(df.Age<1.0)]

In [ ]:
df.sort_values('Age')

In [ ]:
df1 = df.dropna()
df1.sort_values('Age')
df1

In [ ]:
df2 = pd.DataFrame(data)
df2

In [ ]:
#survived
B = df2.groupby('Survived')

B.get_group(1)

In [ ]:
#20-30 years range survivals
K = df2[(df2.Age>20)&(df2.Age<30)]
L = K.groupby('Survived')
L.get_group(1)

In [ ]:
#50-60 years surviavls
K = df2[(df2.Age>50)&(df2.Age<60)]
L = K.groupby('Survived')
L.get_group(1)

In [ ]:
#20-30 years deaths
K = df2[(df2.Age>20)&(df2.Age<30)]
L = K.groupby('Survived')
L.get_group(0)

In [ ]:
#50-60 age years deaths
K = df2[(df2.Age>50)&(df2.Age<60)]
L = K.groupby('Survived')
L.get_group(0)

In [ ]:
#Total death of male:
K= df2.groupby('Sex')
K = K.get_group('male')
L = K.groupby('Survived')
L.get_group(0)

In [ ]:
#Total death of females
K= df2.groupby('Sex')
K = K.get_group('female')
L = K.groupby('Survived')
L.get_group(0)

In [ ]:
#40-50 years old death of males
K = df2[(df2.Age>40)&(df2.Age<50)]
J = K.groupby('Sex')
J = J.get_group('male')
L = J.groupby('Survived')
L.get_group(0)

In [ ]:
#1st class passenger deaths count
u = df2.groupby('Pclass')
u = u.get_group(1)
i = u.groupby('Survived')
len(i.get_group(0))

In [ ]:
#total survivors and deaths 
sns.countplot(x='Survived', data=df2)

In [ ]:
#now let's see the survivors and deaths based on pclass
sns.countplot(x='Survived', hue='Pclass', data=df2)

In [ ]:
#now let's see for male and female survivors
sns.countplot(x='Sex', hue='Survived', data=df2)

In [ ]:
# Scatter plot for survival by age
plt.scatter(df2['Age'], df2['Survived'], alpha=0.4,c=df2['Survived'],cmap='coolwarm')
plt.title('Survival by Age')
plt.xlabel('Age')
plt.ylabel('Survival')
plt.show()

In [ ]:
#survived passengers numbers
survived = df2[(df2['Survived'] == 1)].count()
survived.Survived

In [ ]:
#male survival rate
male_survived = data[(data['Survived'] == 1) & (data['Sex'] == 'male')].count()
male_survived_rate =  male_survived.Survived / data.shape[0]
male_survived_rate * 100

In [ ]:
#female survival rate
female_survived = data[(data['Survived'] == 1) & (data['Sex'] == 'female')].count()
female_survived_rate =  female_survived.Survived / data.shape[0]
female_survived_rate * 100

In [ ]:
df1 = df.groupby('Survived')
df2 = df1.get_group(1)
df2[(df2.Age == df2.Age.min())]

In [ ]:
data.Embarked.unique()

In [ ]:
(data[(data.Embarked == 'S') & (data.Survived == 1)].count().Survived / survived.Survived) * 100

In [ ]:
(data[(data.Embarked == 'C') & (data.Survived == 1)].count().Survived / survived.Survived) * 100

In [ ]:
(data[(data.Embarked == 'Q') & (data.Survived == 1)].count().Survived / survived.Survived) * 100